.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 60vmin;
  width: 60vmin;
  pointer-events: none;
  border: solid red 10px,
}

@media (prefers-reduced-motion: no-preference) {}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

