/* 
 * We load FontAwesome with a higher priority layer
 * to prevent Tailwind from overwriting the styles.
 * 
 * See:
 * Explanation - https://github.com/tailwindlabs/tailwindcss/discussions/15870#discussioncomment-12318987 
 * Implementation - https://gihub.com/tailwindlabs/tailwindcss/discussions/15870#discussioncomment-13381245
 * Cascade Layers - https://developer.mozilla.org/en-US/docs/Web/CSS/@layer#description
*/
@layer vendor;
@import "@fortawesome/fontawesome-svg-core/styles.css" layer(vendor);

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  input[type="file"] {
    @apply rounded-full bg-white px-3 py-1 text-purple-500 hover:bg-gray-200 hover:text-purple-900 focus:ring active:bg-gray-400 active:text-gray-700 disabled:bg-gray-500 disabled:text-gray-400;
  }

  input[type="text"] {
    @apply border-x-0 border-t-0 focus:border-x-0 focus:border-t-0 focus:ring-0;
  }
}

@theme {
  --gradient-radial-overlay: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  --font-bangers: Bangers, cursive;
  --font-montserrat: Montserrat, sans-serif;
  --font-roboto: Roboto, sans-serif;

  --breakpoint-xs: 360px;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
}
